<header>
  <app-menu-blog></app-menu-blog>
</header>

<app-big-title-blog></app-big-title-blog>

<div class="container-articles">
  <div class="articles-main">
    <app-big-card-blog
      photoCover="https://cdn.adioma.com/assets/post_infographics/depart/angular.png"
      cardTitle="NOVIDADES DO ANGULAR"
      cardDescription="Angular agora inclui novas funcionalidades do lado do servidor"
    >
    </app-big-card-blog>
  </div>
  <div class="articles-others">
    <app-small-card-blog
      photoCover="https://ravitambade.files.wordpress.com/2018/10/ng7.jpg"
      cardTitle="Saiu a nova versão do Angular"
    >
    </app-small-card-blog>
    <app-small-card-blog
      photoCover="https://ravitambade.files.wordpress.com/2018/10/ng7.jpg"
      cardTitle="Saiu a nova versão do Angular"
    >
    </app-small-card-blog>
    <app-small-card-blog
      photoCover="https://ravitambade.files.wordpress.com/2018/10/ng7.jpg"
      cardTitle="Saiu a nova versão do Angular"
    >
    </app-small-card-blog>
  </div>
</div>

